* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


.main-menu {
    background: red;
    text-align: center;
}

ul {
    display: inline-flex;
    list-style-type: none;
}

ul li {
    padding: 15px 30px;
}

ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

ul li:hover {
    background-color: black;
}

.sub-menu-1 {
    display: none;
}

.main-menu>ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: blue;
    margin-top: 15px;
    margin-left: -30px;
}

.main-menu>ul li:hover .sub-menu-1 ul {
    display: block;
}

.main-menu>ul li:hover .sub-menu-1 ul li {
    padding: 10px;
    text-align: left;
    width: 100px;
}

.sub-menu-2 {
    display: none;
}

.sub-menu-1>ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background-color: green;
    margin-left: 110px;
}

.sub-menu-1>ul li:hover .sub-menu-2 ul li {
    padding: 10px;
    text-align: left;
    width: 100px;
}
